<nav class="navbar fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Brewery Site</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Search Your Brewery
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!-- Will make Search, where 5 random breweries will go. From there will be "Add to favourite"
                    or "Contact this brewery"-->
                    <li><a href="{{ url_for('search') }}">Search</a></li>
                    <li><a href="#">Favourite Breweries</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>